* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

@font-face {
  font-family: 'Mono';
  src: local('Mono'), url(./fonts/Mono-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
